<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card borderless">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body" [formGroup]="userForm">
            <h4 class="mb-3 f-w-400 text-center">Signin</h4>
            <div class="mb-3">
              <input type="text" class="form-control" formControlName="username" placeholder="Username" >
            </div>
            <div class="mb-4">
              <input type="password"  class="form-control" formControlName="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-block btn-primary mb-4"
              (click)="signin()">Signin</button>
            <p class="mb-2 text-muted text-center">Forgot password?
              <a class="f-w-400" >Reset</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>